data/datasets/**/train
data/datasets/**/val
data/datasets/**/test
data/datasets/**/labels.torch

data/data-raw/*
!data/data/raw-data/.gitkeep

runs/**/state_dict.torch
!runs/.gitkeep

models/**/state_dict.torch
!models/.gitkeep
